if cars
    each car in cars 
        div(id=car.id)
            h3=car.brand 
            p 
                i=car.model
            button(hx-delete = '/cars' + car.id, hx-trigger = 'click', hx-target = '#'+car.id) delete